/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Gupter:wght@400;500;700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


html{
    scroll-behavior: smooth;
}
h2{
    font-size: 30px;
    font-weight: 600;
    font-family: "Gupter", serif;
    text-align: center;

}
/* Fonts */
:root {
    --titulo: "Source Code Pro", serif;
    --subtitulo: "Gupter", serif;
}

/* Definir cores Tema Dark */
:root,
:root[data-theme="dark"]{

    --bg-body:black;
    --bg-header: black ;
    --icone-tema: white;
    --cor-texto: white;

}

/* Definir cores tema Kight */

:root[data-theme="light"]{

    --bg-body: grey;
    --bg-header:white ;
    --icone-tema: black;
    --cor-texto: black;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='light'] .logo {
filter: invert(1);
}

body {
    background: var(--bg-body); /* cor fundo */
    color: var(--cor-texto);  /* cor texto */
}

h1{
    font-size: 40px;
    font-weight: 200;
    font-family:  "Host Grotesk", serif;
}

b{

}


i {
    color: var(--icone-tema);
    font-size: 20px; /* tamanho do texto */
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--bg-header);
    padding: 8px 16px;
    z-index: 2;
    color: var(--cor-texto);
}

.header-logo .logo{
    width: 15rem;
    height: 4rem;
    align-items: center;
}

.menu { 
    display: flex;
    align-items: center;
    background: var(--bg-header); /* cor fundo */
    gap: 25px;
    list-style: none;
}

.menu-item {
    width: 100%;
}

.menu-link { 
    display: flex;
    text-decoration: none;
}

.menu-texto {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 50px 15px;

}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto{
    color: var(--cor-texto);
    font-weight: 400;
}

/* não selecionados */
.menu-icone,
.menu-texto{ 
    color: #797979;
    font-weight: 200;
}

/* .menu-link .menu-texto:hover,
.menu-link .menu-icone:hover {
    font-size: 22px;
} */

.menu-icone {
    font-size: 30px;
    color:var(--cor-texto)
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;
}


/* HOME */
#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* ATUALIZAÇÕES FUTURAS */


/* Revisao  */

#home, .projetos, .sobre {
    padding: 40px;
}


/* Button */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: var(--cor-texto);
    padding: 5px 10px;
    cursor: pointer;
}

.btn-primary{
    border: 1px solid var(--cor-texto);
}

.btn span{
    color:var(--cor-texto);
    font-size: 20px;
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1.02);
    transform: rotate(180deg);
}

a{
    text-decoration: none;
}

.video iframe{
    width: 100%;
    aspect-ratio: 16/9;

}



#home .projetos, .sobre, .contato{
    padding: 32px 16px;

}


/* Projetos */
.projetos{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projeto-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projeto-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px white;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.card-title{
    font-family: "Source Code Pro", serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    
}

.card-description {
    font-family: "Host Grotesk", serif;
    font-size: 18px;
    font-weight: lighter;
    margin-left: 25px;
}

.card-lista{
    list-style: circle;
    font-size: 15px;
    gap: 5px;
    margin-left: 60px;
}
@media (min-width: 992px){
    .project-card{
        flex-direction: row;
    }
    .card-img{
        width: 55%;
    }
}

/* CAROULSEL */
/* Estilização do Carrossel */

.projetos h2 {
    margin-top: 50px;
}

.carousel {
    width: 80%; /* Ajustável conforme o layout */
    max-width: 70vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 12px;
}

/* Oculta os radio buttons */
.carousel input { 
    display: none; 
}

/* Muda o slide com os radio buttons */
#slide1:checked ~ .slides { transform: translateX(0); }
#slide2:checked ~ .slides { transform: translateX(-33.33%); }
#slide3:checked ~ .slides { transform: translateX(-66.66%); }

/* Botões de navegação */
.navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.navigation label {
    width: 12px;
    height: 12px;
    background: var(--primary-color, #fff);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
}

.nagivation label:hover,
#slide1:checked ~ .navigation label[for="slide1"],
#slide2:checked ~ .navigation label[for="slide2"],
#slide3:checked ~ .navigation label[for="slide3"] {
    background: orange;
    opacity: 1;
}


/* CSS Responsivo */
@media (min-width: 768px) {  /* a partir de: 768px */
    #header {
        position: fixed;
        border-bottom: 1px solid #f3f3f3;
        padding: 16px 80px;
        background: var(--bg-header);
    }
    .header-nav{
    display: flex;
}

    .header-nav,
    .header-toggle {
        min-width: 30%;
    }


}

.nav-mobile{
    display: none;
}

.header-nav{
    display: flex;
}
#home{ /* voltar aqui */
    padding: 128px 96px 64px 96px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 1200 px */

@media (min-width: 1200px) {
    #home{
        padding: 160px 96px 32px;
    }
}
@media (min-width: 14000px) {
    #header{
        padding: 92px 40px 64px;
    }
}



#toggleTheme {
    font-size: 24px;
    color: var(--icone-tema);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.menu-social{
    background:var(--bg-body);
}

/* FORMS */

.form-contato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: grey;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-contato label {
    font-weight: bold;
    color: black;
    font-family: var(--titulo);
    font-size: 16px;
}

.form-contato input,
.form-contato textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--bg-header);
    border-radius: 6px;
    background: var(--bg-body);
    color: var(--cor-texto);
    font-size: 16px;
    outline: none;
    transition: ease-in-out;
}

.form-contato input:focus,
.form-contato textarea:focus{
    border-color: red;
    box-shadow: 0 0 5px var(--bg-body);
}

.form-contato textarea{
    resize: vertical;
    min-height: 120px;
}